<nav>
    <a href="/Home">Home</a>
    <a href="/About">About</a>
    <a href="/Severance">Severance</a>
    <a href="/Careers">Careers</a>
    <a href="/Intranet">Intranet</a>
    <a href="/Staff">Staff</a>
  </nav>

