<nav class ="navbar">
  <ul>
    <li><a href="/About">About</a></li>
    <li><a href="/Severance">Severance</a></li>
    <li><a href="/Careers">Careers</a></li>
    <li><a href="/Intranet">Intranet</a></li>
    <li><a href="/Staff">Staff</a></li>
  </ul>
</nav>

