<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumon</title>
    <link rel="stylesheet" href="/css/app.css">   
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Business Card Requisition</h1>
        <P>Thank you for your interest in obtaining a Lumon Industries business card.
             To obtain a card, please complete the Requisition Form below.</P>
        <p>Your business card is an extension of your workplace identity. As such, 
            it should be handled at all times with the utmost respect, and displayed 
            in a manner that commands the appropriate level of reverence to Lumon 
            Industries and your relationship with the company. 
            Please do not leave your card unattended. Damaged or soiled cards should 
            be promptly destroyed.</p>
        <p>Violations of the business card handling policy will result in disciplinary action.</p>
    <h1>Business Card Requisition Form</h1>
    <p>Complete this form with sincerity and accuracy. Failure to submit a sincere and accurate form will result in disciplinary action.</p>
    <div class="input-container"></div>
        <input type="text" id="name" placeholder="Name"><br><br>
        <input type="text" id="title" placeholder="Title"><br><br>
        <input type="text" id="department" placeholder="Department"><br><br>
    <button type="submit">Submit</button>
    </div>  
</body>
</html>
