<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumon</title>
    <link rel="stylesheet" href="/css/app.css">    
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Careers at Lumon</h1>
    <p>You've heard of work-life balance. Maybe you've worked at a company that promised it. 
        But you have never experienced it—not outside of Lumon.
        <br>
        <br>
        At Lumon, we're working on the next generation of biotechnology. 
        Our advances will change your world as you know it. Join us, and shape your future.</p>
        <img id="lobby-image" src="/sevrance-lobby.jpg">
    <h1>Open Positions</h1>
    <p>Our current open positions are listed below.</p>
    <h1>Head of Security Operations</h1>
    <p>Lumon Industries is seeking an experienced individual to lead our Security 
        Operations on our SVR'D floor. Qualified applicants should be mysterious 
        and look majestic while running. Apply in person at our Kier, PE headquarters.</p>
</body>

