<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumon</title>
    <link rel="stylesheet" href="/css/app.css">   
</head>
<body>
    <%- include('./partials/nav') %>

    <h2>Intranet</h2>
        <h3>The Lumon Industries is for use by authorized Lumon Industries
            employees only.
        </h3>

    <h2>Order Supplies</h2>
        <h3><li><a href="http://localhost:3000/Intranet/OrderBusinessCards">Order Business Cards</a></li></h3>
</body>
</html>