<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumon</title>
    <link rel="stylesheet" href="/css/app.css">    
</head>
<body>
    <%- include('./partials/nav') %>
<h1>Severance</h1>
    <p>The work Lumon industries has invested in cutting-edge technology
        has culminated in our Severance technology. The Severance Microchip
        is the heart of our life-changing Severance Procedure, which enables
        the ultimate in work-life balance.
    </p>

<h1>Severance</h1>
<p>Severance also happens to be the name of the best television show ever,
    exclusively available on Apple TV+</p>
    <ul>
        <li>Peruse the Media Wall</li>
        <li>Enjoy the Lumon Music Experience playlist on Apple Music
            and on Spotify
        </li>
    </ul>
    
    </body>
    </html>  
    
    