<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumon</title>
    <link rel="stylesheet" href="/css/app.css">    
</head>
<body>
    <%- include('./partials/nav') %>
    <% staff.forEach((member) => { %>
        <h3><a href="/staff/<%= member.FirstName %>"><%= member.FirstName %> <%= member.LastName %></a></h3>
    <% }) %>
</body>
</html>

