* {
    margin: 0;
    padding: 0;
  }
  body {
      height: 100vh;
      /* background-image: url(images/wood-dock.jpg); */
      background-size: cover ;
      background-repeat: no-repeat;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-position: center;
  }
  .navbar {
      display: flex;
      background-color: rgb(255, 255, 255);
      box-shadow: 5px 5px 5px;
  }
  nav ul {
      display: flex;
      align-items: center;
      width: 100%;
      list-style: none;
      margin-right: 20px;
  } nav li {
      height: 60px;
      font-size: 15px;
      padding: 0 20px
  }
  nav a {
      height: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: black
  }
  nav li:hover {
      background-color: rgb(228, 228, 228);
  }
  nav li:first-child {
      margin-right: auto;
      margin-left: 20px;
  }
